<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinghui.mapper.UserMapper">
    <select id="queryUserPass" resultType="com.xinghui.security.CustUserDetails">
        SELECT
            id,
            user_code,
            password,
            user_name,
            sex,
            mobile_no,
            email,
            STATUS,
            created_time,
            created_user,
            last_changed,
            last_changed_user
        FROM
            s_user
        WHERE
            user_code = #{username} and status = 1
    </select>
</mapper>
